<!-- Runs obstacle_detector with four sick lms1xx laser scanners. -->
<launch>
    <node pkg="tf" type="static_transform_publisher" name="base_to_tramcar" output="screen"
          args="3.86 0 1.35 0 0.08901179 0 base tramcar 100"/>
    <!--
        <node pkg="lms1xx" type="LMS1xx_node" name="front_lms1xx" output="screen">
            <param name="host" type="string" value="192.168.0.1"/>
            <param name="frame_id" type="string" value="front_scanner"/>
            <remap from="scan" to="front_scan"/>
        </node>

        <node pkg="lms1xx" type="LMS1xx_node" name="left_lms1xx" output="screen">
            <param name="host" type="string" value="192.168.0.2"/>
            <param name="frame_id" type="string" value="left_scanner"/>
            <remap from="scan" to="left_scan"/>
        </node>

        <node pkg="lms1xx" type="LMS1xx_node" name="right_lms1xx" output="screen">
            <param name="host" type="string" value="192.168.0.3"/>
            <param name="frame_id" type="string" value="right_scanner"/>
            <remap from="scan" to="right_scan"/>
        </node>

        <node pkg="lms1xx" type="LMS1xx_node" name="rear_lms1xx" output="screen">
            <param name="host" type="string" value="192.168.0.4"/>
            <param name="frame_id" type="string" value="rear_scanner"/>
            <remap from="scan" to="rear_scan"/>
        </node>

        <node pkg="tf" type="static_transform_publisher" name="base_to_front_scanner" output="screen"
              args="3.86 0 1.35 0 0.08901179 0 base front_scanner 100"/>

        <node pkg="tf" type="static_transform_publisher" name="base_to_left_scanner" output="screen"
              args="-1.64 3.16 3.5 1.57079633 0 -0.53407075 base left_scanner 100"/>

        <node pkg="tf" type="static_transform_publisher" name="base_to_right_scanner" output="screen"
              args="-0.94 -3.16 3.5 -1.57079633 0 -0.53581608 base right_scanner 100"/>

        <node pkg="tf" type="static_transform_publisher" name="base_to_rear_scanner" output="screen"
              args="-6.45 0 0.8 3.14159265 0.17453292 0 base rear_scanner 100"/>
    -->

</launch>
 
