<!-- laser filter -->
<launch>
    <node pkg="laser_filters" type="scan_to_scan_filter_chain"
          name="front_laser_filter">
        <rosparam command="load" file="$(find laser_filters)/config/front_laser_config.yaml"/>
        <param name="high_fidelity" value="true"/>
        <param name="target_frame" type="string" value="base"/>
        <remap from="scan" to="front_scan"/>
        <remap from="scan_filtered" to="front_scan_filtered"/>
    </node>
    <!--
      <node pkg="laser_filters" type="scan_to_scan_filter_chain"
          name="left_laser_filter">
        <rosparam command="load" file="$(find laser_filters)/config/left_laser_config.yaml" />
        <param name ="high_fidelity" value ="true" />
        <param name ="target_frame" type = "string" value = "base" />
        <remap from="scan" to="ivsicklidar_2" />
        <remap from="scan_filtered" to="left_scan_filtered" />
      </node>

      <node pkg="laser_filters" type="scan_to_scan_filter_chain"
          name="right_laser_filter">
        <rosparam command="load" file="$(find laser_filters)/config/right_laser_config.yaml" />
        <param name ="high_fidelity" value ="true" />
        <param name ="target_frame" type = "string" value = "base" />
        <remap from="scan" to="ivsicklidar_3" />
        <remap from="scan_filtered" to="right_scan_filtered" />
      </node>
    -->
    <node pkg="laser_filters" type="scan_to_scan_filter_chain"
          name="rear_laser_filter">
        <rosparam command="load" file="$(find laser_filters)/config/rear_laser_config.yaml"/>
        <param name="high_fidelity" value="true"/>
        <param name="target_frame" type="string" value="base"/>
        <remap from="scan" to="rear_scan"/>
        <remap from="scan_filtered" to="rear_scan_filtered"/>
    </node>
</launch>
